/* Body */

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px 80px;
} 

/* Cards */
.card {
    height:600px;
    width:1000px;
    margin: 30px 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
}

/* Overview for cards */
.overview {
    width: 10px;
    height:0px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.mockup h1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height:0px;
    margin: 0px;
    font-size: 50px;
    padding-top:30px;
}

.links a {
    text-decoration: none;
}

/* Button */

button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin:10px;
    padding: 0.7rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(95, 93, 93);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: rgb(95, 93, 93);
    background-color:transparent;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
button:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* Taco Tavern */
#background0 {
    background-image: url("./assetspic/tacotavern.png");
    background-size: cover;
}

#overview0 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: -296px;
    top: 195px;
    width: 300px;
}

#mockup0 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: -321px;
top: 90px;
}

#light-background0 {
height: 490px;
width: 402px;
position: relative;
left: 55px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed0 {
position: relative;
top: 374px;
left: -332px;
color: white;
border-color:white;
}

#github0 {
position: relative;
top: 374px;
left: -307px;
color: white;
border-color:white;
}

/* RecipeGram */
#background1 {
    background-image: url("./assetspic/recipegramkit.png");
    background-size: cover;
}
#overview1 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: 214px;
    top: 222px;
    width: 300px;
}

#mockup1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: 191px;
    top: 96px;
}

#light-background1 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 566px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed1 {
    position: relative;
    top: 380px;
    left: 184px;
    color: white;
    border-color:white;
}

#github1 {
    position: relative;
    top: 380px;
    left: 198px;
    color: white;
    border-color:white;
}

/* Fitness Tracker */
#background5 {
    background-image: url("./assetspic/fitnesstracker.png");
    background-size: cover;
}

#overview5 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: 214px;
    top: 222px;
    width: 300px;
}

#mockup5 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: 173px;
    top: 96px;
}

#light-background5 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 566px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed5 {
    position: relative;
    top: 380px;
    left: 184px;
    color: white;
    border-color:white;
}

#github5 {
    position: relative;
    top: 380px;
    left: 198px;
    color: white;
    border-color:white;
}


/* Work Schedule */
#background4 {
    background-image: url("./assetspic/worksched.png");
    background-size: cover;
}

#overview4 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: -296px;
    top: 205px;
    width: 300px;
}

#mockup4 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: -329px;
    top: 90px;
}

#light-background4 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 55px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed4 {
    position: relative;
    top: 374px;
    left: -332px;
    color: white;
    border-color:white;
}

#github4 {
    position: relative;
    top: 374px;
    left: -307px;
    color: white;
    border-color:white;
}

/* HikeTunez */
#background6 {
    background-image: url("./assetspic/hiketunez1.png");
    background-size: cover;
}

#overview6 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: -296px;
    top: 222px;
    width: 300px;
}

#mockup6 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: -321px;
top: 90px;
}

#light-background6 {
height: 490px;
width: 402px;
position: relative;
left: 55px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed6 {
position: relative;
top: 374px;
left: -332px;
color: white;
border-color:white;
}

#github6 {
position: relative;
top: 374px;
left: -307px;
color: white;
border-color:white;
}

/* BudgetTracker */
#background2 {
    background-image: url("./assetspic/budgettracker.png");
    background-size: cover;
}

#overview2 {  
font-size: 20px;
color: white;
position: relative;
left: 214px;
top: 196px;
width: 300px;
}

#mockup2 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: 171px;
top: 96px;
}

#light-background2 {
height: 490px;
width: 402px;
position: relative;
left: 566px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed2 {
position: relative;
top: 380px;
left: 184px;
color: white;
border-color:white;
}

#github2 {
position: relative;
top: 380px;
left: 198px;
color: white;
border-color:white;
}

/* Employee Directory */
#background3 {
    background-image: url("./assetspic/emplodir.png");
    background-size: cover;
    background-position: center;
}

#overview3 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: -296px;
    top: 183px;
    width: 300px;
}

#mockup3 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: -321px;
    top: 90px;
}

#light-background3 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 55px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed3 {
    position: relative;
    top: 374px;
    left: -332px;
    color: white;
    border-color:white;
}

#github3 {
    position: relative;
    top: 374px;
left: -307px;
    color: white;
    border-color:white;
}


  
    @media screen and (max-width:1050px) {
    /* Body */
    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } 

    /* Cards */
    .card {
        height: 400px;
        width: 800px;
        margin: 20px 20px;
    }

    .overview p {
        position: relative;
        top: -100px;
    }

    .mockup {
        width:500px;
    }

    /* Taco Tavern */

    #mockup0 {
        left: -58px;
        top: -388px;
    }

    #background0 {
        background-position: center;
    }

    #light-background0 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #github0 {
        left: 36px;
        top: -149px;
    }

    #deployed0 {
        left: 26px;
        top: -149px;
    }

    #overview0 {
        top: -304px;
        left: 55px;
    }

    /* recipegram */

    #background1 {
        background-position: center;
    }

    #overview1 {  
        left: 412px;
        top: -288px;
    }

    #mockup1 {
        left: 298px;
        top: -392px;
    }

    #light-background1 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
        background-color: #616161;
        opacity: .6;
    }
    

    #deployed1 {
        left: 387px;
        top: -141px;
    }

    #github1 { 
        left: 398px;
        top: -141px;
    }

    /* Directory */

    #background3 {
        background-position: center;
    }

    #mockup3 {
        left: -56px;
        top: -409px;
    }

    #light-background3 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #overview3 {
        top: -329px;
        left: 55px;
    }

    #deployed3 {
        left: 26px;
        top: -149px;
    }

    #github3 {
        left: 36px;
        top: -149px;
    }

    /* Budget Tracker */

    #background2 {
        background-position: center;
    }

    #light-background2 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #overview2 {
        left: 412px;
        top: -311px;
    }

    #mockup2 {
        left: 305px;
        top: -392px;
    }

    #deployed2 {
        left: 387px;
        top: -141px;
    }

    #github2 {
        left: 398px;
        top: -141px;
    }

    /* Work Schedule */

    #background4 {
        background-position: center;
    }

    #mockup4 {
        left: -50px;
        top: -391px;
    }

    #light-background4 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed4 {
        left: 26px;
        top: -149px;
    }

    #github4 {
        left: 36px;
        top: -149px;
    }

    #overview4 {
        top: -303px;
        left: 57px;
    }

    /* Fitness */

    #overview5 {
        left: 411px;
        top: -288px;
    }
    #background5 {
        background-position: center;
    }

    #mockup5 {
        left: 298px;
        top: -392px;
    }

    #light-background5 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }


    #github5 {
        left: 398px;
        top: -141px;
    }

    #deployed5 {
        left: 387px;
        top: -141px;
    }

    /* hiketunez */

    #mockup6 {
        left: -58px;
        top: -370px;
    }

    #background6 {
        background-position: center;
    }

    #light-background6 {
        height: 400px;
        width: 800px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #github6 {
        left: 36px;
        top: -149px;
    }

    #deployed6 {
        left: 26px;
        top: -149px;
    }

    #overview6 {
        top: -269px;
        left: 55px;
    }
}

@media screen and (max-width:865px) {
    .container {
        margin: 0px 20px;
    }

    /* Cards */

    .links {
        margin-left: 0px;
        height: 0px;
        position: relative;
        top: 62px;
    }
    .card {
        height: 460px;
        width: 460px;
        margin: 20px 20px;
    }

    .mockup h1 {
        position: relative;
        top:-130px;
        left:75px;
        font-size:40px;
    }

    .overview {
        height: 0px;
        width:460px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -130px;
        left:-15px;
    }

    .mockup {
        width: 300px;
        height: 0px;
    }

    /* RecipeGram */

    #overview1 {
        top: -290px;
        left: 84px;
    }

    #mockup1 {
        left: 85px;
        top: -394px;
    }

    #light-background1 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
        background-color: #616161;
        opacity: .6;
    }

    #deployed1 {
        left: 53px;
        top: -210px;
    }

    #github1 {
        left: 251px;
        top: -283px;
    }
    /* Directory */

    #overview3 {
        top: -341px;
        left: 84px;
    }

    #mockup3 {
        left: 85px;
        top: -432px;
    }

    #light-background3 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed3 {
        left: 53px;
        top: -210px;
    }

    #github3 {
        left: 251px;
        top: -283px;
    }

    /* Budget Tracker */

    #overview2 {
        top: -319px;
        left: 84px;
    }

    #mockup2 {
        left: 85px;
        top: -452px;
    }
 
    #light-background2 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed2 {
        left: 53px;
        top: -210px;
    }

    #github2 {
        left: 251px;
        top: -283px;
    }

/* Work Schedule */

    #overview4 {
        top: -296px;
        left: 84px;
    }

    #mockup4 {
        left: 85px;
        top: -439px;
    }
    #light-background4 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed4 {
        left: 53px;
        top: -210px;
    }

    #github4 {
        left: 251px;
        top: -283px;
    }

    /* Fitness */

    #overview5 {
        top: -296px;
        left: 84px;
        padding-top: none;
        padding-left: none;
    }

    #mockup5 {
        left: 85px;
        top: -434px;
    }

    #light-background5 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed5 {
        left: 53px;
        top: -210px;
    }

    #github5 {
        left: 251px;
        top: -283px;
    }

    /* hiketunez */

    #overview6 {
        top: -287px;
        left: 84px;

    }

    #mockup6 {
        left: 85px;
        top: -394px;
    }

    #light-background6 {
        height: 460px;
        width: 460px;
        border-radius:25px;
        left: 0px;
        top: 0px;
    }

    #deployed6 {
        left: 53px;
        top: -210px;
    }

    #github6 {
        left: 251px;
        top: -283px;
    }
}

@media screen and (max-width:450px) {
    .container {
        margin: 0px 20px;
    }

    /* Cards */
    .card {
        height: 600px;
        width: 300px;
        margin: 30px;
    }

    .mockup h1 {
        top: -143px;
        left: 4px;
        font-size:35px;
    }

    #mockup3 {
        color:rgb(95, 93, 93);
    }
    
    #mockup2 {
        color:rgb(95, 93, 93);
    }
    
    #mockup5 {
        color:rgb(95, 93, 93);
    }

    .overview {
        height:0px;
        width:460px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -130px;
        left:-15px;
    }

    .mockup {
        width: 300px;
    }

    .links {
        margin-top: 0px;
        margin-left: 0px;
        height: 0px;
        width: 0px;
        position: relative;
        top: 138px;
        text-align: none;
        justify-content: none;
        align-items: none;
    }
    

    /* RecipeGram */

    #light-background1 {
        height: 600px;
        width: 300px;
    }

    #mockup1 {
        left: 2px;
        top: -552px;
        font-size: 35px;
    }

    #overview1 {
        top: -456px;
        width: 200px;
        left: 50px;
    }

    #deployed1 {
        left: 60px;
        top: -400px;
    }

    #github1 {
        left: 70px;
        top: -395px;
    }
    /* Directory */

    #mockup3 {
        left: 2px;
        top: -578px;
        font-size: 35px;
        color:white;
    }
    #light-background3 {
        height: 600px;
        width: 300px;
    }

    #deployed3 {
        left: 60px;
        top: -385px;
    }

    #github3 {
        left: 70px;
        top: -380px;
    }

    #overview3 {
        top: -505px;
        width: 200px;
        left: 50px;
    }

    /* Budget Tracker */

    #background2 {
        background-position: 45% 50%;
    }

    #mockup2 {
        left: 2px;
        top: -552px;
        font-size: 35px;
        color:white;
    }
    #light-background2 {
        height: 600px;
        width: 300px;
    }
    #deployed2 {
        left: 60px;
        top:-382px;
    }

    #github2 {
        left: 70px;
        top: -377px;
    }

    #overview2 {
        top: -480px;
        width: 200px;
        left: 50px;
    }

/* Work Schedule */

    #background4 {
        background-position: 60% 50%;
    }
    #mockup4 {
        left: 2px;
        top: -552px;
        font-size: 35px;
    }
    #light-background4 {
        height: 600px;
        width: 300px;
}

    #overview4 {
        top: -456px;
        width: 200px;
        left: 50px;
}

    #deployed4 {
        left: 60px;
        top: -400px;
    }

    #github4 {
        left: 70px;
        top: -395px;
    }

    /* Fitness */
    #background5 {
        background-position: 20% 50%;
    }

    #light-background5 {
        height: 600px;
        width: 300px;
    }

    #mockup5 {
        left: 2px;
        top: -552px;
        font-size: 35px;
        color:white;
    }

    #deployed5 {
        left: 60px;
        top: -400px;
    }

    #github5 {
        left: 70px;
        top: -395px;
    }

    #overview5 {
        top: -456px;
        width: 200px;
        left: 50px;
    }

    /* hiketunez */

    #background6 {
        background-position: 70% 50%;
    }
    #mockup6 {
        left: 2px;
        top: -520px;
        font-size: 35px;
    }

    #light-background6 {
        height: 600px;
        width: 300px;
    }

    #deployed6 {
        left: 60px;
        top: -400px;
    }

    #github6 {
        left: 70px;
        top: -395px;
    }

    #overview6 {
        top: -417px;
        width: 200px;
        left: 50px;
    }
}
