/* Body */

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px 80px;
} 

/* Cards */
.card {
    height:600px;
    width:1000px;
    margin: 30px 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
}

/* Overview for cards */
.overview {
    width: 190px;
    height:590px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.mockup h1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height:0px;
    margin: 0px;
    font-size: 50px;
    padding-top:30px;
}

.mockup {
    width: 700px;
    height:600px;
    border: none;
}


.links {
    margin-top: 175px;
    margin-left: 600px;
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/* Button */

button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin:10px;
    padding: 0.7rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(95, 93, 93);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: rgb(95, 93, 93);
    background-color:transparent;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
button:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

#deployed3 {
    color:white;
    border-color: white;
    position: relative;
    top: -572px;
}

#github3 {
    color:white;
    border-color: white;
    position: relative;
    top: -572px;
}

#deployed2 {
    color:white;
    border-color:white;
}

#github2 {
    color:white;
    border-color:white;
}

#deployed5 {
    color:white;
    border-color:white;
}

#github5 {
    color:white;
    border-color:white;
}



/* RecipeGram */
#background1 {
    background-image: url("./assetspic/recipegramkit.png");
    background-size: cover;
}
#overview1 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: 214px;
    top: 222px;
    width: 300px;
}

#mockup1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: 416px;
    top: -479px;
}

#light-background1 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 566px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed1 {
    position: relative;
    top: -372px;
    left: -11px;
    color: white;
    border-color:white;
}

#github1 {
    position: relative;
    top: -445px;
    left: 153px;
    color: white;
    border-color:white;
}

/* Fitness Tracker */
#background5 {
    background-image: url("./assetspic/fitnesstracker.png");
    background-size: cover;
}

#overview5 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: 214px;
    top: 222px;
    width: 300px;
}

#mockup5 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 0px;
    margin: 0px;
    font-size: 50px;
    position: relative;
    left: 416px;
    top: -479px;
}

#light-background5 {
    height: 490px;
    width: 402px;
    position: relative;
    left: 566px;
    top: 58px;
    background-color: #616161;
    opacity: .6;
}

#deployed5 {
    position: relative;
    top: -372px;
    left: -11px;
    color: white;
    border-color:white;
}

#github5 {
    position: relative;
    top: -445px;
    left: 153px;
    color: white;
    border-color:white;
}

/* Work Schedule */
#background4 {
    background-image: url("./assetspic/workschedule1.png");
    background-size: cover;
}

#overview4 {  
    font-size: 20px;
color: white;
position: relative;
left: 214px;
top: 222px;
width: 300px;
}

#mockup4 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: 416px;
top: -479px;
}

#light-background4 {
height: 490px;
width: 402px;
position: relative;
left: 566px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed4 {
position: relative;
top: -372px;
left: -11px;
color: white;
border-color:white;
}

#github4 {
position: relative;
top: -445px;
left: 153px;
color: white;
border-color:white;
}

/* HikeTunez */
#background6 {
    background-image: url("./assetspic/hiketunez1.png");
    background-size: cover;
}

#overview6 {  
    font-size: 20px;
    color: white;
    position: relative;
    left: -296px;
    top: 222px;
    width: 300px;
}

#mockup6 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: -100px;
top: -479px;
}

#light-background6 {
height: 490px;
width: 402px;
position: relative;
left: 55px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed6 {
position: relative;
top: -372px;
left: -522px;
color: white;
border-color:white;
}

#github6 {
position: relative;
top: -445px;
left: -355px;
color: white;
border-color:white;
}

/* BudgetTracker */
#background2 {
    background-image: url("./assetspic/budgettracker.png");
    background-size: cover;
}

#overview2 {  
    font-size: 20px;
color: white;
position: relative;
left: 214px;
top: 222px;
width: 300px;
}

#mockup2 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: 416px;
top: -479px;
}

#light-background2 {
height: 490px;
width: 402px;
position: relative;
left: 566px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed2 {
position: relative;
top: -372px;
left: -11px;
color: white;
border-color:white;
}

#github2 {
position: relative;
top: -445px;
left: 153px;
color: white;
border-color:white;
}

/* Employee Directory */
#background3 {
    background-image: url("./assetspic/workschedule1.png");
    background-size: cover;
}

#overview3 {  
    font-size: 20px;
color: white;
position: relative;
left: 214px;
top: 222px;
width: 300px;
}

#mockup3 {
font-weight: bold;
font-family: 'Roboto', sans-serif;
color: white;
text-align: center;
height: 0px;
margin: 0px;
font-size: 50px;
position: relative;
left: 416px;
top: -479px;
}

#light-background3 {
height: 490px;
width: 402px;
position: relative;
left: 566px;
top: 58px;
background-color: #616161;
opacity: .6;
}

#deployed3 {
position: relative;
top: -372px;
left: -11px;
color: white;
border-color:white;
}

#github3 {
position: relative;
top: -445px;
left: 153px;
color: white;
border-color:white;
}


  
    @media screen and (max-width:1050px) {
    /* Body */
    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } 

    /* Cards */
    .card {
        height: 400px;
        width: 800px;
        margin: 20px 20px;
    }

    .overview {
        height:600px;
        width:150px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -100px;
    }

    .mockup {
        width:500px;
    }

    .links {
        position: relative;
        right:145px;

    }

    /* recipegram */
    #img1 {
        height: 350px;
        width: 350px;
        position: relative;
        left: 71px;
        top: 32px;
    }

    #deployed1 {
        position: relative;
        left: -35px;
        top: -438px;
    }

    #github1 {
        position: relative;
        left: -35px;
        top: -424px;
    }

    /* Code Quiz */

    #img3 {
        height: 400px;
        width: 600px;
        position: relative;
        left: -47px;
    }

    #deployed3 {
        position: relative;
        left: -35px;
        top: -480px;
    }

    #github3 {
        position: relative;
        left: -35px;
        top: -461px;
    }

    /* Note Taker */

    #img2 {
        height:400px;
        width:500px;
        position: absolute;
    }

    #deployed2 {
        position: relative;
        left: -35px;
        top: -86px;
    }

    #github2 {
        position: relative;
        left: -35px;
        top: -64px;
    }

    /* Work Schedule */

    #deployed4 {
        position: relative;
        left: -35px;
        top: -86px;
    }

    #github4 {
        position: relative;
        left: -35px;
        top: -64px;
    }

    #img4 {
        height: 300px;
        width: 450px;
        position: absolute;
        margin-top: 57px;
        margin-left: 26px;
    }

    /* Fitness */

    #img5 {
        position: relative;
        height: 400px;
        left: 2px;
        top: 27px;
        width: 350px;
    }

    #github5 {
        position: relative;
        left: -41px;
        top: -447px;
    }

    #deployed5 {
        position: relative;
        left: -41px;
        top: -447px;
    }

    /* hiketunez */


    #img6 {
        position: relative;
        height: 300px;
        left: 2px;
        top: 16px;
        width: 200px;
    }

    #github6 {
        position: relative;
        left: -41px;
        top: -410px;
    }

    #deployed6 {
        position: relative;
        left: -41px;
        top: -435px;
    }

    #overview6 {
        padding-top: 208px;
        padding-left: 30px;
    }
}

@media screen and (max-width:850px) {
    .container {
        margin: 0px 20px;
    }

    /* Cards */
    .card {
        height: 460px;
        width: 460px;
        margin: 20px 20px;
    }

    .mockup h1 {
        position: relative;
        top:-130px;
        left:75px;
        font-size:40px;
    }

    .overview {
        height:150px;
        width:460px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -130px;
        left:-15px;
    }

    .mockup {
        width: 300px;
    }

    /* RecipeGram */
    #img1 {
        height: 250px;
        width: 250px;
        position: relative;
        top: -23px;
        left: 103px;
    }

    #overview1 {
        top:-65px;
    }

    #deployed1 {
        position: relative;
        left: -397px;
        top: -231px;
    }

    #github1 {
        position: relative;
        left: -246px;
        top: -304px;
    }
    /* Code Quiz */

    #img3 {
        height: 250px;
        width: 400px;
        position: relative;
        left: 25px;
        top: -46px;
    }

    #deployed3 {
        position: relative;
        left: -397px;
        top: -243px;
    }

    #github3 {
        position: relative;
        left: -246px;
        top: -316px;
    }

    /* Note Taker */
    #img2 {
        height: 300px;
        width: 350px;
        position: relative;
        left: 54px;
        top: -76px;
    }

    #deployed2 {
        position: relative;
        left: -397px;
        top: -291px;
    }

    #github2 {
        position: relative;
        left: -246px;
        top: -364px;
    }

/* Work Schedule */
    #img4 {
        height: 200px;
        width: 300px;
        position: relative;
        top: -68px;
        left: 57px;
    }

    #overview4 {
        position: relative;
        top:-100px;
    }

    #deployed4 {
        position: relative;
        left: -397px;
        top: -251px;
    }

    #github4 {
        position: relative;
        left: -246px;
        top: -324px;
    }

    /* Fitness */

    #img5 {
        position: relative;
        height: 400px;
        left: -120px;
        top: -54px;
        width: 350px;
    }

    #github5 {
        position: relative;
        left: -230px;
        top: -482px;
    }

    #deployed5 {
        position: relative;
        left: -230px;
        top: -495px;
    }

    #overview5 {
        padding-top: 217px;
        padding-left: 30px;
    }

    /* hiketunez */


    #img6 {
        position: relative;
        height: 300px;
        left: -123px;
        top: -64px;
        width: 200px
    }

    #github6 {
        position: relative;
        left: -230px;
        top: -482px;
    }

    #deployed6 {
        position: relative;
        left: -230px;
        top: -495px;
    }

    #overview6 {
        padding-top: 224px;
        padding-left: 30px;
    }
}

@media screen and (max-width:450px) {
    .container {
        margin: 0px 20px;
    }

    /* Cards */
    .card {
        height: 600px;
        width: 300px;
        margin: 30px;
    }

    .mockup h1 {
        top: -143px;
        left: 4px;
        font-size:35px;
    }

    #mockup3 {
        color:rgb(95, 93, 93);
    }
    
    #mockup2 {
        color:rgb(95, 93, 93);
    }
    
    #mockup5 {
        color:rgb(95, 93, 93);
    }

    .overview {
        height:150px;
        width:460px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -130px;
        left:-15px;
    }

    .mockup {
        width: 300px;
    }

    /* RecipeGram */

    #background1 {
        background: none;
        border:5px solid #6aeeb0; /* Old browsers */
    }

    #img1 {
        top: 23px;
        left: 26px;
    }

    #overview1 {
        top:-65px;
    }

    #deployed1 {
        left: -405px;
        top: -161px;
    }

    #github1 {
        left: -406px;
        top: -167px;
    }
    /* Code Quiz */
    #background3 {
        background: none;
        border:5px solid #1e6f9a; /* Old browsers */
    }

    #img3 {
        height: 240px;
        width: 390px;
        position: relative;
        left: -40px;
        top: -24px;
    }

    #deployed3 {
        left: -397px;
        top: -182px;
        color:rgb(95, 93, 93);
        border-color: rgb(95, 93, 93)
    }

    #github3 {
        left: -397px;
        top: -173px;
        color:rgb(95, 93, 93);
        border-color: rgb(95, 93, 93)
    }

    #overview3 {
        color:rgb(95, 93, 93);
    }

    /* Note Taker */
    #background2 {
        background: none;
        border:5px solid #45c0ae; /* Old browsers */
    }

    #img2 {
        left: -28px;
        top: -32px;
    }

    #deployed2 {
        color: rgb(95, 93, 93);
        border-color: rgb(95, 93, 93);
        left: -403px;
        top: -226px;
        
    }

    #github2 {
        color: rgb(95, 93, 93);
        border-color: rgb(95, 93, 93);
        left: -403px;
        top: -230px;
    }

    #overview2 {
        color:rgb(95, 93, 93);
    }

/* Work Schedule */
    #background4 {
        background: none;
        border:5px solid #28a5cc; /* Old browsers */
    }
    #img4 {
        top: -22px;
        left: -26px;
    }

    #overview4 {
        position: relative;
        top:-100px;
    }

    #deployed4 {
        left: -402px;
        top: -197px;
    }

    #github4 {
        left: -402px;
        top: -196px;
    }

    /* Fitness */
    #background5 {
        background: none;
        border:5px solid #a84da6; /* Old browsers */
    }
    #img5 {
        left: -82px;
        top: -26px;
    }

    #github5 {
        left: -403px;
        top: -281px;
        color:rgb(95, 93, 93);
        border-color: rgb(95, 93, 93)
    }

    #deployed5 {
        left: -402px;
        top: -273px;
        color:rgb(95, 93, 93);
        border-color: rgb(95, 93, 93)
    }

    #overview5 {
        padding-top: 217px;
        padding-left: 30px;
        color:rgb(95, 93, 93);
    }

    /* hiketunez */
    #background6 {
        background: none;
        border:5px solid #93861d; /* Old browsers */
    }

    #img6 {
        left: -82px;
        top: -48px;
    }

    #github6 {
        left: -398px;
        top: -247px;
    }

    #deployed6 {
        left: -397px;
        top: -237px;
    }

    #overview6 {
        padding-top: 224px;
        padding-left: 30px;
    }
}
