/* Body */
.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px 80px;
} 

.header {
    height: 250px;
    position: relative;
    right: 120px;
    margin-top:10px;
}

header {
    margin-top:70px;
}

/* Picture */
#pic {
    height:250px;
    width:250px;
}

#pic img {
    height:250px;
    width:250px;
    border-radius: 50%;
}

/* Nav Bar */
.navbar {
    justify-content: center;
    height: 50px;
    /* width:700px; */
    font-size: 40px;
    font-weight: bold;
    color: rgb(95, 93, 93);
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 250px;
    bottom: 250px;
}

.navbar-left {
    position: relative;
    bottom: 40px;
    left: 30px;
    float: left;
}

#name {
    margin-bottom: 0px;
}


.navbar-right {
    position: relative;
    bottom: 23px;
    float:right;
   
}

.navbar-right a {
    text-decoration: none;
    color: rgb(95, 93, 93);
    font-family: 'Roboto', sans-serif;
}

#about {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#about a {
    padding-left:10px;
}

/* Overview */

.aboutmeoverview {
    position: relative;
    bottom: 268px;
    left: 250px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width:700px;
    text-decoration: none;
    color: rgb(95, 93, 93);
    height:200px;
    border-bottom: 3px solid rgb(95, 93, 93);
}

#aboutme {
    text-align: center;
    padding: 30px 20px;
}

.contact {
    position: relative;
    left: 60px;
}

.contact a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(95, 93, 93);
    padding-left:5px;
}

@media screen and (max-width:1050px) {
     /* Body */
     .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } 
    
    /* Header */

    .header {
        height: 350px;
    }

    #pic img {
        position: relative;
        left:165px;
    }

    #name {
        position: relative;
        left: 180px;
    }

    #about {
        position: relative;
        left: -180px;
        top: 50px;
    }

    #aboutme {
        position: relative;
        top:25px;
        left: 159px;
        width: 400px;
    }

    .contact {
        position: relative;
        left:-80px;
        border-bottom: 3px solid rgb(95, 93, 93);
        width:600px;
    }

     .aboutmeoverview {
        height:300px;
        border:none;
    }
}

@media screen and (max-width:850px) {
    /* Header */
    .container {
        margin: 0px 20px;
    }

    .header {
        height: 650px;
    }

    #pic img {
        position: relative;
        left:345px;
    }

    #name {
        position: relative;
        left: 20px;
        bottom: -270px;
    }

    #about {
        position: relative;
        left: -345px;
        top: 320px;
    }

    #aboutme {
        position: relative;
        top: 293px;
        left: -2px;
        width: 400px;
    }

    .contact {
        position: relative;
        left: -80px;
        top: 265px;
        width: 600px;
        border-bottom:none;
    }

    #number {
        position: relative;
        left:195px;
    }

    #email {
        position: relative;
        left: 12px;
        top: 35px;
    }

    #linkedin {
        position: relative;
        left: -175px;
        top: 80px;
    }

    #github {
        position: relative;
        left: -172px;
        top: 80px;
    }
}

@media screen and (max-width:450px) {
    /* Header */
    .container {
        margin: 0px 10px;
    }

    .header {
        height: 650px;
    }

    ul {
        width:300px;
    }

    .contact {
        width:300px;
    }

    .aboutmeoverview {
        width: 450px;
    }

    #pic img {
        left: 224px;
    }

    #name {
        position: relative;
        left: -85px;
        bottom: -270px;
        font-size:35px;
    }

    #about {
        left: -170px;
        top: 239px;
        font-size: 20px;
    }

    #aboutme {
        top: 236px;
        left: -79px;
        width: 300px;
    }

    .contact a{
        padding:none;
    }

    #number {
    left:82px;
    top: -62px;
    font-size: 15px;
    }

    #email {
        left: 22px;
        top: -53px;
        font-size: 15px;
    }

    #linkedin {
        left: -112px;
        top: -26px;
        font-size: 15px;
    }

    #github {
        left: 106px;
        top: -21px;
        font-size: 15px;
    }
}