.footer a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(95, 93, 93);
    padding-left:5px;
    font-size: 20px;
}

@media screen and (max-width:1050px) {



}

@media screen and (max-width:850px) {


    #numberf {
        position: relative;
        left:195px;
    }

    #emailf {
        position: relative;
        left: -11px;
        top: 35px;
    }

    #linkedinf {
        position: relative;
        left: -244px;
        top: 80px;
    }

    #githubf {
        position: relative;
        left: -242px;
        top: 80px;
    }
}

@media screen and (max-width:450px) {

    #numberf {
        position: relative;
        left:47px;
    }

    #emailf {
        position: relative;
        left: -13px;
        top: 12px;
    }

    #linkedinf {
        position: relative;
        left: 21px;
        top: 25px;
    }
    

    #githubf {
        position: relative;
        left: 24px;
        top: 25px;
    }
    

}