.footer a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(95, 93, 93);
    padding-left:5px;
    font-size: 20px;
}

@media screen and (max-width:1050px) {



}

@media screen and (max-width:850px) {


    #numberf {
        position: relative;
        left:44px;
    }

    ul {
        align-items: left;
        justify-content: left;
    }

    #emailf {
        position: relative;
        left: -11px;
        top: 11px;
    }

    #linkedinf {
        position: relative;
        left: 70px;
        top: 23px;
    }

    #githubf {
        position: relative;
        left: 78px;
        top: 30px;
    } 
}

@media screen and (max-width:450px) {

    #numberf {
        position: relative;
        left:47px;
    }

    #emailf {
        position: relative;
        left: -52px;
        top: 12px;
    }

    #linkedinf {
        position: relative;
        left: -267px;
        top: 41px;
    }
    

    #githubf {
        position: relative;
        left: -247px;
        top: 43px;
}
    
    

}