.footer {
    display:flex;
    width: 100%;
    justify-content:center;
    margin: 10px 0px;
}

.footer ul{
    font-weight: bold;
    text-decoration: none;
    color: rgb(95, 93, 93);
    font-size: 20px;
    display:flex;
    padding-bottom: 10px;
    width:60%;
    justify-content:center;

}

.footer ul li {
    font-weight: bold;
    list-style: none;
    margin: 0px 7px;
}

.footer ul li a {
    text-decoration: none;
    color: rgb(95, 93, 93);
}



@media screen and (max-width:1050px) {

    .footer ul {
        font-size: 18px;
    }

}

@media screen and (max-width:850px) {

    .footer ul {
        font-size: 13px;
    }

}

@media screen and (max-width:450px) {

    #numberf {
        position: relative;
        left:47px;
    }

    #emailf {
        position: relative;
        left: -52px;
        top: 12px;
    }

    #linkedinf {
        position: relative;
        left: -267px;
        top: 41px;
    }
    

    #githubf {
        position: relative;
        left: -247px;
        top: 43px;
}

    .footer ul li {
        margin: 0px 0px;
}

    
    

}